/* GENERAL */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(imgc01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  
  .contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  /* FORMULARIO */
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  form label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form input,
  form select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  form select {
    width: 100%;
  }
  
  form button {
    padding: 10px;
    background-color: #e03030;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  form button:hover {
    background-color: #9e0606;
  }
  
  /* TABLA */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #e03030;
    color: #fff;
  }
  



  